/*Estilos*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EEEEEE;
}

#root {
  width: 100%;
  padding: 0 0.6rem;
}

.listagem-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  background: #FFFFFF;
  border-radius: 1rem;
  margin-top: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
  margin-top: 1rem;
  position: relative;
}

.titulo {
  font-size: 1.8rem;
  font-weight: 600;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.cadastro-livro {
  background-color: #2b39d6;
  color: #FFFFFF;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  transition: 0.3s ease;
}

.cadastro-livro:hover {
  background-color: #1a2a96;
}

.livro-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.livro-container {
  position: relative;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.livro-titulo {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.livro-info {
  display: flex;
  gap: 1.5rem;
  align-items: center;  
  position: relative;
}

.livro-editar{
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.material-symbols-outlined {
  font-size: 2rem;
}

.opcoes-menu {
  position: absolute;
  top: 80%;
  right: 2%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  padding-bottom: 1rem;
  z-index: 1000;
}

.opcoes {
  display: block;
  margin-top: 0.5rem;
  background-color: #2b39d6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
  text-decoration: none;
  font-size: 0.9rem;
  transition: 0.3s ease;
}

.opcoes:hover {
  background-color: #1a2a96;
}