.navbar {
    position: fixed;
    top: 15px;
    left: 0;
    width: 100%;
    background-color: #EEEEEE;
    padding: 10px 20px;
    z-index: 1000;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }
  
  .nav-link {
    text-decoration: none;
    color: #ffffff;
    background-color: #4fb9c0   ;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.2s ease;
  }
  
  .nav-link:hover {
    background-color: #105d63;
    color: #fff;
  }