.perfil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
    background: #FFFFFF;
    border-radius: 1rem;
    margin-top: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.saldo-perfil{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 16px;
    color: gray;
}

.perfil-header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    position: relative;
}

.voltar-button-perfil {
    background: #4e86c2;
    border: 1px solid #285f99;
    border-radius: 0.5rem;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 10px; 
    left: 10px;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
}

.voltar-button:hover {
    background: #21527a;
}

.perfil-titulo {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
}

.perfil-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.perfil-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 35px;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    border: 1px solid #4e86c2;
    padding: 0 1.25rem 0 0.6rem;
    background-color: transparent;
    margin-bottom: 1.5rem;
}

.perfil-button {
    width: 90%;
    height: 54px;
    background: #4e86c2;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border: 0.1rem solid #21527a;
    cursor: pointer;
    transition: 0.2s ease;
}

.perfil-button:hover {
    background: #21527a;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 91%;
}

.saldo-button, .senha-button {
    width: 43%;
    height: 54px;
    background: #4e86c2;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border: 0.1rem solid #21527a;
    cursor: pointer;
    transition: 0.2s ease;
    margin-top: 1rem;
}

.saldo-button{
    margin-right: 5%;
}

.senha-button {
    margin-left: 5%;
}

.saldo-button:hover, .senha-button:hover {
    background: #21527a;
}

.excluir-button {
    width: 90%;
    height: 54px;
    background: #ff0000;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border: 0.1rem solid #800000;
    cursor: pointer;
    transition: 0.2s ease;
    margin-top: 1rem;
    margin-left: 5%;
}

.excluir-button:hover {
    background: #800000;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.close-button {
    margin-top: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 10px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #d32f2f;
}

.excluirConta-button {
    width: 90%;
    height: 54px;
    background: #ff0000;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border: 0.1rem solid #800000;
    cursor: pointer;
    transition: 0.2s ease;
}

.excluirConta-button:hover {
    background: #800000;
}

.excluir-content {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    align-items: center;
    width: 90%;
    margin-top: 0;
    margin-bottom: 1rem;
}