/*Fonte Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #EEEEEE;
}

#root {
  width: 100%;
  padding: 0 0.6rem;
}

.login-container{
  display: flex;
  flex-direction: column;
  max-width: 410px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  background: #FFFFFF;
  box-shadow: 0 10px 20 px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.login-container .form-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.9rem;
}

.login-form .input-wrapper {
  height: 54px;
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
}

.login-form .input-wrapper .input-field {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 1.06rem;
  border-radius: 0.5rem;
  border: 1px solid #4fb9c0;
  padding: 0 1.25rem 0 3.12rem;
  transition: 0.2rem ease;
}

.login-form .input-wrapper .input-field:focus {
  border-color: #105d63;
}

.login-form .input-wrapper .input-field::placeholder {
  color: #4fb9c0;
}

.login-form .input-wrapper i {
  color: #4fb9c0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2rem ease;
}

.login-form .input-wrapper i:not(.eye-icon) {
  left: 0.9rem;
  pointer-events: none;
}

.login-form .input-wrapper .input-field:focus ~ i:not(.eye-icon) {
  color: #105d63;
}

.login-form .input-wrapper i.eye-icon {
  font-size: 1.2rem;
  cursor: pointer;
  right: 0.9rem;
  display: none;
}

.login-form .input-wrapper .input-field:valid ~ i.eye-icon {
  display: block;
}

.login-form .login-button {
  width: 100%;
  height: 54px;
  cursor: pointer;
  outline: none;
  border: 1px solid #105d63;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1.2rem;
  background: #76ABAE;
  margin-top: 1.2rem;
  border-radius: 0.3rem;
  transition: 0.2s ease;
}

.login-form .login-button:hover {
  background: #105d63;
}

.login-container .forgot-password {
  text-align: center;
  font-weight: 500;
  margin: 0.5rem 0 0.3rem;
}

.login-container a {
  color: #105d63;
  font-weight: 500;
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}